{%extends "partials/base.html"%}
{%load static%}
{%block title%}Home{%endblock%}

{%block content%}
<style>
    .bbg {
          background: #E1F7F5;
    }
    #hover {
        background: black;
    }
    .hoverme {
        background: #6367AF;
        color: #fff;
    }
    .hoverme:hover {
        background: #313559;
        color: #fff;
    }
    .hoverme_outline {
        border: 2px solid #6367AF;
        color: #6367AF;
    }
    .hoverme_outline:hover {
        border: 2px solid #313559;
        color: #313559;
    }

</style>

<div class="px-4 py-3 my-5 text-center">
    <div class="badge mb-3 shadow-sm bg-warning rounded-pill">Whats new in AWS ?</div>

    <img class="d-block mx-auto mb-4" src="{%static 'app_images/AWS LOGO.png'%}" alt="" width="100">
    <!--    <h1 class="display-5 fw-bold text-body-emphasis">Innovate. Transform. Conquer.</h1>-->
    <h1 class="display-5 fw-bold text-body-emphasis">Analytics web systems</h1>

    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4 fw-normal" style="font-size: 17px;">Innovate your strategies, Transform your data, Conquer
            your goals—take
            the first
            and remarkable step with
            Analytics Web Systems today.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#" style="" class="btn hoverme btn-lg px-4 gap-3">Get started</a>
            <!--            <button style="" type="button" class="btn btn-lg px-4 gap-3"></button>-->
            <a href="#" style="" class="btn hoverme_outline btn-lg px-4 gap-3">Explore</a>
        </div>
    </div>
</div>
<!--PROJECTS-->

<div class="d-flex justify-content-between align-items-center mb-2">
    <h2>Our portfolio</h2>
    <a href="{%url 'app:projects'%}" class="text-decoration-none">See all <span
            class="badge bg-body-tertiary text-success rounded-pill">{{project_count}}+</span></a>

</div>

<div class="container bbg p-3 rounded-3">
    <div class="row d-flex justify-content-between">
        {%for pro in projects%}
        <div class="col-md-6 my-2 col-lg-6 sm-4">
            <a href="{%url 'app:project_detail' pro.id%}" class="text-decoration-none text-dark">
                <div class="card shadow-sm">
                    <img src="{{pro.image.url}}" class="" width="100%" height="225" alt="" style="object-fit: cover;">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="card-title mx-2"><strong>{{pro.title}}</strong></h5>

                            <span class="badge text-bg-dark">{{pro.client}}</span>

                        </div>
                        {% with words=pro.description|wordcount %}
                        {% if words > 9 %}
                        <p class="card-text">
                            {{ pro.description|slice:":100" }} ... <a href="{%url 'app:project_detail' pro.id%}">Read
                            more</a>
                        </p>
                        {% else %}
                        <p class="card-text">
                            {{ pro.description }}
                        </p>
                        {% endif %}
                        {% endwith %}
                        <div class="d-flex justify-content-between">
                            <a href="#"
                               class="d-flex mb-2 align-items-center link-body-emphasis text-decoration-none">
                                <img src="https://github.com/mdo.png" alt="" width="30" height="30"
                                     class="rounded-circle me-2">
                                <strong>Somebody</strong>
                            </a>
                            <div class="d-flex align-items-center">
                                {%for t in pro.technologies_used.all%}
                                <span class="badge mb-2 mx-1 shadow-sm rounded-pill bg-body-tertiary text-info">{{t.name}}</span>
                                {%endfor%}
                            </div>

                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group w-100">
                                <a href="{%url 'app:project_detail' pro.id%}" id="hover"
                                   class="btn border btn-sm bg-body-tertiary">View</a>

                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>
        {%endfor%}

    </div>
</div><br><br>

<!--TESTIMONIALS-->
<h3>Testimonials</h3>
<p style="" class="fs-6">See what our past clients have to say about us</p>
<div class="container d-flex justify-content-between p-2 rounded-3">
    <div class="row">
        {% for test in testimonials%}
        <div class="col-lg-6 col-md-6 my-2 text-center">
            <div class="card p-2 text-bg-info shadow-sm text-white">
                <div class="text-center">
                    <img style="object-fit: cover;" width="80" class="rounded-circle"
                         src="https://i.pinimg.com/564x/d4/2d/9c/d42d9c6ff7455237b43289c8f3ab6b25.jpg" alt="">
                    <h4 class="fw-normal"><strong>{{test.user.username}}</strong></h4>
                    <p style="font-size: 14px;">{{test.content}}</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-sm w-50 bg-body-secondary text-info">view details</a>

                    </div>
                </div>
            </div>

        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}